body {
background-color: rgb(26, 78, 60);
}

h1,h2 {
    color: rgb(253, 253, 255);
    font-family: sans-serif;
}

.marq {
  padding-bottom: 15px;
  width: 400px;
  height: 80px;
  text-align: center;
  text-decoration: underline;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10 px;
}