body {
background-color: rgb(26, 78, 60);
}

h1,h2 {
    color: rgb(253, 253, 255);
    font-family: sans-serif;
    text-decoration: underline;
}

.marq {
  padding-bottom: 15px;
  width: 500px;
  height: 80px;
  text-align: center;
}

.categoria-videos {
  border: 0px solid;
  display: flex;
  overflow-x: scroll;
  gap: 0px;
  max-width: 650px;
  margin: 10px  
}

a{
  margin: 35px 0px 35px 25px; 
}

img:hover{
  box-shadow: 0px 3px 44px 1px rgba(191,28,204,0.75);
}