body {
background-color: rgb(26, 78, 60);
}

h1,h2 {
    color: rgb(253, 253, 255);
    font-family: sans-serif;
    text-decoration: underline;
}

.marq {
  padding-bottom: 15 px;
  width: 500 px;
  height: 80 px;
  text-align: center;
}

.categoria-videos {
  display: flex;
  overflow-x: scroll;
  gap: 5 px;
  max-width: 650 px;
}